<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.security.web.csrf.CsrfFilter" level="info"/>
    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="info"/>
    <logger name="org.springframework.web" level="warn"/>
    <logger name="org.springframework.jdbc" level="info"/>
    <logger name="com.uran.gamblingstation" level="info"/>

    <root level="warn">
        <appender-ref ref="console"/>
    </root>

</configuration>